- title "Hipótese"

%p
  %h2 Se...
%p
  %ol
  - for fact in @hypothesis.facts
    %li= fact.description

%p
  %h2 Então...
%p
  = @hypothesis.description

%p
  %h2 Portanto...
%p
  %ol
  - for ans in @hypothesis.answers
    %li= ans.description

%br

%p
  = link_to "Editar", edit_hypothesis_path(@hypothesis)
  |
  = link_to "Remover", @hypothesis, :confirm => 'Tem certeza que deseja remover?', :method => :delete
  |
  = link_to "Ver todas", hypotheses_path
