- title "Fatos"

%table
  %tr
    %th Descrição
  - for fact in @facts
    %tr
      %td= fact.description
      %td= link_to 'Exibir', fact
      %td= link_to 'Editar', edit_fact_path(fact)
      %td= link_to 'Remover', fact, :confirm => 'Tem certeza que deseja remover?', :method => :delete

%p= link_to "Novo fato", new_fact_path
