- title "Fato"

%p
  %h2 Perguntas
%p
  %ol
  - for qst in @fact.questions
    %li= qst.description

%p
  %h2 Fato
%p
  = @fact.description
%p

%br

%p
  = link_to "Editar", edit_fact_path(@fact)
  |
  = link_to "Remover", @fact, :confirm => 'Tem certeza que deseja remover?', :method => :delete
  |
  = link_to "Ver todos", facts_path
